/* Buttons */
.lines-btn {
  @include border-hover-effect();

  &.lines-btn-codepen {
    &:before {
      content: '\f1cb';
      font-weight: 100;
    }
  }

  &.lines-btn-insta {
    text-transform: lowercase;
    &:before {
      content: '\f16d';
      font-weight: 100;
    }
  }
}

/* Typography */

.page-header h4, .insta-container h4 {
  @include symbol-surround('\f0d9', '\f0da');
  margin-right: 25px;
  margin-left: 25px;
  line-height: 1.5em;
  font-size: 1.1em;

  @include media($medium-screen) {
    font-size: 1.3em;
  }

  &:before, &:after {
    font-size: 1.3em;
  }
}

.small-caps {
  @include small-caps($rd-medium-blue);
}

.small-caps-sub-title {
  margin-top: -1.25em;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: 0.5px;
  opacity: 0.5;

  i, span {
    display: inline-block;
    vertical-align: middle;
  }
  i {
    vertical-align: bottom;
    margin: 0 5px;
  }
  i.vert-align-alt {
    margin: 0;
    vertical-align: sub;
  }
}

.label {
  @include small-caps($rd-green);
  font-size: 0.8em;
}

i.icon-head {
  color: $rd-gold;
  font-size: 2em;
  opacity: 1;

  @include media($large-screen) {
    font-size: 2.5em;
    margin-top: 1em;
  }
}

blockquote {
  position: relative;
  font-style: italic;
  font-size: 1.1em;
  line-height: 1.9em;
  color: rgba($rd-medium-blue, 0.65);
  margin: 0 0 3em 0;
  padding: 1em;
  background-color: lighten($base-background-color, 4%);
  border: 1px solid lighten($rd-gold, 35%);

  &:before, &:after {
    font-family: FontAwesome;
    position: absolute;
    // font-size: 2em;
    color: rgba($rd-medium-blue, 0.1);
  }
  &:before {
    content: '\f10d';
    top: 0;
    left: 0.5em;
  }
  &:after {
    content: '\f10e';
    bottom: -0.15em;
    right: 0.7em;
  }
}

/* Loading animation */

div.loading {
  width: 40px;
  height: 40px;
  z-index: 1;
  background-image: url('../../assets/images/loader.gif');
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -40px 0 0 -20px;
}

/* page instructions / notifications */
.page-notifications {
  margin: 0em 0 0.5em;
  padding: 25px;
  opacity: 1;
  background: lighten($base-background-color, 3%);
  border-top: 1px solid rgba($rd-medium-blue, 0.1);
  border-bottom: 1px solid rgba(white, 0.75);
  box-shadow: inset 0 10px 10px -10px rgba($rd-medium-blue, 0.2);

  &.ng-hide-add, &.ng-hide-remove {
    @include transition(all 0.5s $ease-in-out-sine);
  }
  &.ng-hide {
    margin-top: -5em;
    opacity: 0;
  }

  p {
    font-family: $body-font;
    font-weight: 400;
    font-size: 0.9em;
    color: darken($base-background-color, 25%);
    text-align: center;
    margin-bottom: 0.5em;

    &:before {
      font-family: FontAwesome;
      content: '\f05a';
      display: inline-block;
      margin-right: 0.5em;
    }

    @include media($medium-screen) {
      font-size: 1em;
    }
  }

  a {
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.8em;

    &:hover {
      color: $rd-red;
    }
  }
}
