{
  "extends": "eslint:recommended",
  "plugins": ["angular"],
  "env": {
    "browser": true,
    "jasmine": true
  },
  "globals": {
    "angular": true,
    "module": true,
    "inject": true
  },
  "rules": {
    "angular/document-service": 1,
    "angular/controller-as-vm": [0],
    "angular/controller-as": 0,
    "no-console": 0,
    "angular/log": 0,
    "no-unused-vars": [2, { "args": "none" }]
  }
}
