<span class="overlay-close close-btn" ng-click="close()"></span>

<div class="item-logo-container">
  <div class="loading"></div>
  <img class="item-logo-img" ng-if="modalsData.imgLogo.length > 0" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" rd-defer="{{ modalsData.imgLogo }}">
</div>
<div class="title-contain">
  <h1 class="page-title">{{ modalsData.title }}</h1>
</div>

<div class="project-details">
  <blockquote ng-if="modalsData.blockquote.length > 0" class="">{{ modalsData.blockquote }}</blockquote>
  <p class="description" ng-bind-html="modalsData.description"></p>
  <p class="label">Roles &amp; Tech:</p>

  <ul class="item-list">
    <li ng-repeat="role in modalsData.itemRoles">{{ role }}</li>
  </ul>
</div>

<!-- display video if we have one -->
<div class="video" ng-if="modalsData.hasVideo">
  <div class="video-wrapper">
    <iframe width="1000" height="563" ng-src="{{ modalsData.ytid }}" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<!-- If we have sub-items -->
<div ng-if="modalsData.subItems">
  <div class="sub-item" ng-repeat="subItem in modalsData.subItems">
    <h4>{{ subItem.title }}</h4>
    <p>{{ subItem.description }}</p>

    <div class="project-img-container" ng-repeat="img in getImages(subItem)">
      <div class="loading"></div>
      <img class="project-img" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" rd-defer="{{ img }}">
    </div>

    <a class="launch-btn" ng-if="subItem.link" href="{{ subItem.link }}" target="_blank">
      <button class="lines-btn">
        {{ subItem.linkText }}
        <span class="lines top"></span>
        <span class="lines bottom"></span>
        <span class="lines left"></span>
        <span class="lines right"></span>
      </button>
    </a>
  </div>
</div>

<!-- If we don't have sub-items -->
<div class="project-img-container" ng-if="!modalsData.subItems" ng-repeat="img in getImages()">

  <div class="loading"></div>

  <!-- Normal images -->
  <img ng-if="!modalsData.pngSeq" class="project-img" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" rd-defer="{{ img }}">

  <!-- Animated sequence -->
  <div ng-if="modalsData.pngSeq">
    <h4 class="anim-png-title" ng-if="img.title">{{ img.title }}</h4>
    <canvas ng-if="!smallScreen" rd-png-seq="{{ img.seqSrc }}" timeline-delay="125" class="anim-png" width="{{ img.dimensions.width }}" height="{{ img.dimensions.height }}"></canvas>
    <img class="anim-png-fallback" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" rd-defer="{{ img.backup }}">
    <p class="anim-png-caption">{{ img.caption }}</p>
  </div>

</div>

<!-- Show a launch btn if we have one -->
<div class="launch-container" ng-if="modalsData.itemCta.length > 0">
  <a class="launch-btn" href="{{ modalsData.itemCta }}" target="_blank">
    <button class="lines-btn">
      {{ modalsData.itemCtaText }}
      <span class="lines top"></span>
      <span class="lines bottom"></span>
      <span class="lines left"></span>
      <span class="lines right"></span>
    </button>
  </a>
</div>

<!-- Show a source btn if we have one -->
<div class="launch-container src-container" ng-if="modalsData.itemSrcLink.length > 0">
  <a class="launch-btn" href="{{ modalsData.itemSrcLink }}" target="_blank">
    <button class="lines-btn lines-btn-src">
      Source
      <span class="lines top"></span>
      <span class="lines bottom"></span>
      <span class="lines left"></span>
      <span class="lines right"></span>
    </button>
  </a>
</div>

<div class="space"></div>
