.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 1rem;
}

.btn {
  border: none;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  background-color: rgba($brand-highlight, 0.9);
  color: rgba($brand-white, 0.9);
  border-radius: 24px;
  padding: 0.9rem 1.25rem;
  margin-top: 1rem;
  white-space: nowrap;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba($brand-gray-dark, 0);
  transform: translateZ(0);
  transition: 0.2s color ease, 0.2s background-color ease, 1s box-shadow ease,
    0.2s transform ease;

  &:focus,
  &:hover {
    outline: none;
  }

  &:hover {
    color: $brand-white;
    background-color: rgba($brand-highlight, 1);
    box-shadow: 0 5px 15px rgba($brand-gray-dark, 0.25);
    transform: scale(1.05);
  }

  &.btn--right {
    position: absolute;
    right: 0;
    top: 2px;
    margin-top: 0;
  }

  &.btn--small {
    font-size: 0.8rem;
    padding: 12px 16px;
  }

  &.btn--dark {
    background-color: $brand-gray-dark;

    &:hover {
      background-color: lighten($brand-gray-dark, 10%);
    }
  }
}
