// FOOTER
.footer {
  margin-top: 3rem;
  padding: 0.75rem;
  font-size: 0.8rem;
  font-weight: 500;
  background-color: transparent;
  text-align: center;
  color: $brand-gray-dark;

  &+#about {
    margin-top: auto;
  }
}
