// PROJECT ITEM VIEW
#project-view {
  .content,
  .content__inner {
    width: 100%;
    max-width: 100%;
  }

  .content {
    padding: 0;
  }
}

.project-items-container {
  .project-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    padding: 5rem 1rem;
    background-size: cover;
    background-position: 0 0;
    height: 320px;

    @include mobile {
      margin-bottom: 2rem;
    }

    .logo-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 90%;
      max-width: 400px;

      img.brand-logo {
        max-width: 100%;
        height: auto;
        max-height: 85px;
      }
    }

    a.btn--back {
      position: relative;
      display: inline-block;
    }
  }

  .project-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      text-align: center;
    }
  }

  h1 {
    text-align: center;
    margin: 1rem auto;
  }

  p {
    text-align: left;
    margin: 1rem auto;
    max-width: 800px;
  }

  &.page-friskies {
    .project-header .logo-container img.brand-logo {
      max-height: 100px;
    }
  }

  &.page-pink-floyd {
    .project-header .logo-container img.brand-logo {
      max-height: 120px;
    }
  }
}

.project-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > div {
    max-width: 800px;
    margin: 2rem 0;

    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.project-nav {
  padding: 1rem 0;
  margin: 2rem auto 5rem;
  max-width: 800px;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    img {
      width: 15px;
      height: auto;
      transition: 0.35s transform ease;
    }

    .prev a,
    .next a {
      display: flex;
      align-items: center;
      text-transform: uppercase;
      font-size: 0.9rem;
      opacity: 0.65;
      transition: 0.35s opacity ease;

      &:hover {
        opacity: 1;
      }
    }

    .prev {
      a:hover {
        img {
          transform: translateX(-5px);
        }
      }

      img {
        margin-right: 10px;
      }
    }

    .next {
      a:hover {
        img {
          transform: translateX(5px);
        }
      }

      img {
        margin-left: 10px;
      }
    }
  }
}

.project-image {
  width: 100%;

  img {
    width: 100%;
    padding: 1rem 0;
    height: auto;
    @include tablet {
      padding: 1rem;
    }
    @include desktop {
      padding: 1rem;
    }
  }
  @include tablet {
    width: 80%;
  }
  @include desktop {
    width: 60%;
    margin-bottom: 1rem;
  }
}

.project-nav,
.project-details,
.project-items {
  padding: 0 1rem;
}
