// Colors
$brand-gray-dark: #212121;
$brand-gray-medium: #CCCCCC;
$brand-gray-light: #F7F7F7;
$brand-white: #ffffff;
$brand-highlight: #45abe0;
$brand-tertiary: salmon;

// Fonts
$brand-font-family: 'Work Sans', Helvetica, Arial, sans-serif;

// Breakpoints
$skinnyContentWidth: 475px;
$wideContentWidth: 600px;
