/* styles for the Contact page */

.contact-container {
  text-align: center;

  .page-notifications {
    padding: 0;
    margin-bottom: 5em;
  }

  .social {
    margin: 1.2em 0;
    padding: 0;

    @include media($medium-screen) {
    }

    li {
      font-size: 1.8em;
      display: inline;
      margin: 0.5em;

      a {
        outline: none;

        &:hover {
          color: $rd-gold;
        }

        i {
            padding: 0 0.2em;
          }
      }
    }
  }

  div.words, .contact-form-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
    text-align: left;
  }

  .contact-form-container {

    .lines-btn {
      background-color: lighten($base-background-color, 5%);

      &:before {
        content: '';
        display: inline-block;
        margin-right: 0;
        margin-left: 0;
      }

      i {
        margin-right: 15px;
        margin-left: -10px;
        @include transition(all 0.3s 0s $ease-out-sine, color 0.3s 0s $ease-out-quart);
      }

      &:hover {
        i {
          @include transform(translateX(3px));
        }
      }
    }

    .error {
      background-color: lighten($rd-red, 20%);
    }

    .submissionMessage {
      margin: 1em 0;
      text-align: left;
      display: block;
      width: 100%;

      p {
        padding: 1em;
        background-color: lighten($rd-green, 40%);

        &.error {
          background-color: lighten($rd-red, 20%)
        }

        &:before {
          font-family: FontAwesome;
          content: '\f05a';
          display: inline-block;
          margin-right: 0.5em;
        }
      }
    }
  }
}
