/* styles for the Contact page */

$insta-item-size: 14em;

.contact-container {
  text-align: center;
  
  .page-notifications {
    padding: 0;
    margin-bottom: 5em;
  }

  .social {
    margin: 1.2em 0;
    padding: 0; 

    @include media($medium-screen) {
    }
    
    li {
      font-size: 1.8em;
      display: inline;
      margin: 0.5em;

      a {
        outline: none;

        &:hover {
          color: $rd-gold;
        }
        
        i {
            padding: 0 0.2em;
          }
      }
    }
  }

  div.words, .contact-form-container, .insta-outer {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
    text-align: left;
  }

  .contact-form-container {

    .lines-btn {
      background-color: lighten($base-background-color, 5%);
      
      &:before {
        content: '';
        display: inline-block;
        margin-right: 0;
        margin-left: 0;
      }

      i {
        margin-right: 15px;
        margin-left: -10px;
        @include transition(all 0.3s 0s $ease-out-sine, color 0.3s 0s $ease-out-quart);
      }

      &:hover {
        i {
          @include transform(translateX(3px));
        }
      }
    }

    .error {
      background-color: lighten($rd-red, 20%);
    }

    .submissionMessage {
      margin: 1em 0;
      text-align: left;
      display: block;
      width: 100%;

      p {
        padding: 1em;
        background-color: lighten($rd-green, 40%);

        &.error {
          background-color: lighten($rd-red, 20%)
        }

        &:before {
          font-family: FontAwesome;
          content: '\f05a';
          display: inline-block;
          margin-right: 0.5em;
        }
      }
    }
  }

  .insta-outer {
    text-align: center;
  }

  .insta-container {
    margin: 5em 0;
    @include clearfix;
    @include span-columns(12);

    div.insta-item {
      @include span-columns(6);
      border: 1px solid $base-background-color;
      height: $insta-item-size;
      overflow: hidden;

      @include media($medium-screen) {
        @include span-columns(3);
      }

      .img-responsive {
        height: $insta-item-size;
        min-height: 100%;
        width: auto;
        outline: none;
        text-align: center;
        background-size: cover;
      }
      video {
        min-height: 120% !important;
        min-width: 120% !important;
        margin-top: 50%;
        margin-left: 50%;
        @include transform(translate(-50%, -50%));
      }
    }
  }
}