/* styles for the Hi page */
.portrait-container {
  width: 200px;
  height: 252px;
  margin: 3.5em auto 2.5em;

  svg {
    @include transform( translateX(-10px) );

    path {
      stroke-width: 2px;
      fill-opacity: 0;
      stroke: $rd-gold;
      fill: $rd-gold;
    }
  }
}

.about-container {
  max-width: 700px;
  margin: 0 auto;

  p {
    padding: 0 1em;

    span {
      font-size: inherit;
      text-transform: inherit;
      text-decoration: line-through;
    }
  }

  .cheers {
    img {
      width: 50px;
      height: auto;
    }
  }
}
$insta-item-size: 14em;

.insta-outer {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}

.insta-container {
  margin: 4em 0;
  @include clearfix;
  @include span-columns(12);

  div.insta-item {
    @include span-columns(6);
    border: 1px solid $base-background-color;
    height: $insta-item-size;
    overflow: hidden;
    @include media($medium-screen) {
       @include span-columns(3);
    }

    .img-responsive {
      height: $insta-item-size;
      min-height: 100%;
      width: auto;
      outline: none;
      text-align: center;
      background-size: cover;
    }

    video {
      min-height: 120% !important;
      min-width: 120% !important;
      margin-top: 50%;
      margin-left: 50%;
      @include transform(translate(-50%, -50%));
    }
  }
}
