/* styles for the Hi page */
.portrait-container {
  width: 200px;
  height: 252px;
  margin: 3.5em auto 2.5em;

  svg {
    @include transform(translateX(-10px));

    path {
      stroke-width: 2px;
      fill-opacity: 0;
      stroke: $rd-gold;
      fill: $rd-gold;
    }
  }
}

.about-container {
  max-width: 900px;
  margin: 0 auto;

  p {
    padding: 0 1rem;
    text-align: left;

    span {
      font-size: inherit;
      text-transform: inherit;
      text-decoration: line-through;
    }
  }

  .cheers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5rem auto 1rem;
    border-bottom: 1px solid $rd-gold;
    width: 105px;
    height: 105px;
    opacity: 1;

    img,
    h4 {
      transition: transform 0.2s ease-out;
    }

    img {
      width: 50px;
      height: auto;
      margin-top: -10px;
      transform-origin: 50% 100%;
    }

    h4 {
      color: $rd-gold;
      font-weight: 900;
      font-size: 1.2rem;
      margin: 0;
      margin-top: 5px;
      margin-left: 5px;
      transform-origin: 50% 0;
      transition-delay: 0.05s;
      // transition-duration: 0.35s;
    }
  }

  h1 {
    color: $rd-gold;
    border-bottom: 1px solid $light-gray;
    margin-bottom: 6rem;
    padding-bottom: 8rem;
    font-size: 2rem;
    font-weight: 600;
    margin-left: 8px;
  }

  .cheers-link:hover {
    img, h4 {
      transform: scale(1.2, 1.2);
    }

    h1 {
      color: $rd-gold;
    }
  }
}

.insta-outer {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}

.insta-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 1.2rem;

  h4,
  .launch-btn {
    width: 100%;
    margin-bottom: 2.5em;
  }

  div.insta-item {
    width: 50%;
    border: 1px solid $base-background-color;
    height: 9em;
    overflow: hidden;

    .img-responsive {
      height: 9em;
      min-height: 100%;
      width: auto;
      outline: none;
      text-align: center;
      background-size: cover;
      background-position: 50%;
    }

    video.img-responsive {
      width: 100%;
      height: unset;
      min-height: 100%;
    }

    @include media($small-screen) {
      height: 17em;

      .img-responsive {
        height: 17em;
      }
    }

    @include media($medium-screen) {
      width: 25%;
      height: 12em;

      .img-responsive {
        height: 12em;
      }
    }

    @include media($large-screen) {
      height: 14em;

      .img-responsive {
        height: 14em;
      }
    }
  }
}
