.resume {
  max-width: 1000px;
  margin: 5rem auto;
}

.resume-section {
  text-align: left;
  margin-bottom: 4rem;
  border-bottom: 1px solid $light-gray;

  &:last-of-type {
    border-bottom: none;
  }

  ul {
    margin-left: 1rem;
    padding: 0;

    li {
      margin-bottom: 0.5rem;
    }
  }

  article {
    margin: 4rem 0;
    padding: 0 2rem;

    &:last-of-type {
      border-bottom: none;
    }
  }

  h1 {
    text-align: left;
    padding: 0 1rem;
    font-size: 2.3rem;
    font-weight: 600;
  }

  h2 {
    font-weight: 600;
    margin-bottom: 1rem;
    text-transform: none;
    font-size: 1.3rem;

    @include media($medium-screen) {
      // text-align: left;
    }

    span {
      &:after {
        content: "|";
        margin-left: 5px;
      }

      &:last-of-type {
        &:after {
          content: "";
        }
      }
    }
  }

  p {
    margin-left: 1rem;
    margin-bottom: 0;
  }

  .title,
  .uppercase {
    display: block;
    text-transform: uppercase;

    &:after {
      content: "";
    }
  }

  .uppercase {
    font-size: 1.5rem;
  }

  .title {
    text-transform: none;
  }
}

.resume-section--half {
  width: 100%;
  float: none;

  article {
    margin: 2rem 0;

    &.inline-list {
      margin: 1.5rem 0;
    }
  }

  ul {
    margin: 0;
    margin-left: 0;

    li {
      display: inline-block;
      margin-bottom: 0;

      &:before {
        content: "•";
        margin: 0 5px;
        vertical-align: middle;
      }
    }
  }

  @include media($large-screen) {
    width: 50%;
    float: left;
    border-bottom: none;
    margin-bottom: 1rem;
  }
}
