.skills-container {
  @include perspective(0px);
  
  .page-notifications {
    text-align: center;
    padding-bottom: 1.2em;

    a.ng-hide-add, a.ng-hide-remove {
      @include transition(all 0.3s $ease-in-out-quart);
    }
    a.ng-hide {
      opacity: 0;
      @include transform(scale(0));
    }

    a {
      height: 0;
      display: block;
      opacity: 1;
      margin-top: 0.5em;
      @include transform(scale(1));
      @include transform-origin(50% 1em);
    }
  }

  /* d3 SVG  */
  svg {
    width: 100%; height: 100%;
    margin: 0 0 200px;
    opacity: 0;
    overflow: visible;
  }
  circle {
    stroke: #cdcdcd;
    stroke-width: 1px;
    cursor: pointer;
  }
  circle.clicked {
    fill: $rd-gold !important;
  }
  line.link {
    fill: none;
    stroke: #cdcdcd;
    stroke-width: 1px;
    pointer-events: none;
  }
  circle.root {
    opacity: 1;
    stroke: #cdcdcd;
    stroke-width: 1px;
    fill: $rd-sandy !important;
    @include transform(translateY(0) scale(3));
    @include transform-style(preserve-3d);
    @include transform-origin(50% 50%);
    @include transition(all 0.5s $ease-out-cubic);

    &.solo {
      opacity: 1;
      stroke-width: 3;
      stroke: $rd-gold;
      fill: $rd-gold !important;
      @include transform(translateY(-200px) scale(2.7));
      @include transition(all 0.5s $ease-out-cubic);
    }

    &.solo + image {
      @include transform(rotateY(0deg) translate(0px, -200px) scale(2.7));
      @include transition(all 0.5s $ease-out-cubic);
    }
  }
  image {
    width: 60px; 
    height: 60px;
    @include transform(rotateY(180deg) translate(0px, 0px) scale(1));
    @include transform-style(preserve-3d);
    @include transition(all 0.5s $ease-out-cubic);
  }
  .node-label {
    fill: $rd-medium-blue;
    pointer-events: none;
    font-family: $body-font;
    font-size: 0.75em;
  }
}