@keyframes fadeIn {
    from    { opacity: 0; }
    to      { opacity: 1; }
}

@keyframes fadeOut {
    from    { opacity: 1; }
    to      { opacity: 0; }
}

.page.ng-enter { z-index: 888888; animation: fadeIn 0.5s 0.25s ease-out; }
.page.ng-leave { z-index: 999999; animation: fadeOut 0.25s ease-out; }
