<div class="insta-container">
  <h4 class="small-caps">Latest Grams</h4>
  <a class="launch-btn" href="https://www.instagram.com/ry.daly/" alt="@ry.daly on Instagram" title="@ry.daly on Instagram" target="_blank">
    <button class="lines-btn lines-btn-insta">
      ry.daly
      <span class="lines top"></span>
      <span class="lines bottom"></span>
      <span class="lines left"></span>
      <span class="lines right"></span>
    </button>
  </a>
  <!-- <div class="insta-item" ng-repeat="item in instaCtrl.items">
    <a href="{{ item.link }}" target="_blank">
      <div class="img-responsive" ng-if="item.isImage === true" ng-style="{'background-image': 'url({{ item.url }})'}"></div>
      <video class="img-responsive" autoplay loop ng-if="item.isImage === false" muted>
        <source ng-src="{{ item.url | trusted }}" type="video/mp4" width="500px">
      </video>
    </a>
  </div> -->
</div>
