<div rd-overlay ng-show="subview" ng-switch="subview" class="rd-overlay {{subview}}">
  <div ng-switch-when="overlay" ng-controller="OverlayController" class="overlay">
    <span class="overlay-close close-btn" ng-click="close()"></span>
    <div class="item-logo-container">
      <div class="loading"></div>
      <img class="item-logo-img" ng-if="imgLogo.length > 0" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" rd-defer="{{ imgLogo }}">
    </div>
    <div class="title-contain">
      <h1 class="page-title">{{ title }}</h1>
    </div>

    <div class="project-details">
      <p class="description">{{ description }}</p>
      <p class="label">Role:</p>

      <ul class="item-list">
        <li ng-repeat="role in itemRoles">{{ role }}</li>
      </ul>
    </div>

    <!-- display video if we have one -->
    <div class="video" ng-if="hasVideo">
      <div class="video-wrapper">
        <iframe width="1000" height="563" ng-src="{{ ytid }}" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

    <!-- If we have sub-items -->
    <div ng-if="subItems">
      <div class="sub-item" ng-repeat="subItem in subItems">
        <h4>{{ subItem.title }}</h4>
        <p>{{ subItem.description }}</p>

        <div class="project-img-container" ng-repeat="img in getSize(subItem)">
          <div class="loading"></div>
          <img class="project-img" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" rd-defer="{{ img }}">
        </div>

        <a class="launch-btn" ng-if="subItem.link" href="{{ subItem.link }}" target="_blank">
          <button class="lines-btn">
            {{ subItem.linkText }}
            <span class="lines top"></span>
            <span class="lines bottom"></span>
            <span class="lines left"></span>
            <span class="lines right"></span>
          </button>
        </a>
      </div>
    </div>

    <!-- If we don't have sub-items -->
    <div class="project-img-container" ng-if="!subItems" ng-repeat="img in getSize()">
      <div class="loading"></div>
      <img class="project-img" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" rd-defer="{{ img }}">
    </div>

    <div class="launch-container" ng-if="itemCta.length > 0">
      <a class="launch-btn" href="{{ itemCta }}" target="_blank">
        <button class="lines-btn">
          {{ itemCtaText }}
          <span class="lines top"></span>
          <span class="lines bottom"></span>
          <span class="lines left"></span>
          <span class="lines right"></span>
        </button>
      </a>
    </div>

    <div class="space"></div>

  </div> <!-- End .overlay -->

  <div ng-switch-when="simple" ng-controller="OverlayController" class="overlay overlay-simple">
    <span class="overlay-close close-btn" ng-click="close()"></span>
    <div class="overlay-simple-container">
      <ul class="overlay-simple-item-list">
        <li ng-repeat="item in modalContentObj.items" style="background-image: url({{item.img}})">
          <!-- <img class="overlay-simple-img" ng-src="{{ item.img }}" alt="{{ item.name }}" title="{{ item.name }}"> -->
          {{ item.name }}
        </li>
      </ul>
    </div>
  </div> <!-- End .overlay-simple -->

</div> <!-- End .rd-overlay -->
