<style type="text/css">
    /* in-lining this because it's removed from the DOM on load */
    .logo-container {

    }

    .logo {
        opacity: 1;
        width: 100%;
        height: 192px;
        margin: 0 auto;
        padding-bottom: 1em;
        position: fixed;
        transform-origin: 50% 0;
    }

        .logo path {
            stroke-width: 2px;
            stroke: #4a5b63;
            fill: #4a5b63;
        }
      
        .logo-sm {
            width: 100%;
            height: 176px;
            overflow: visible;
        }

        .p1, .p2, .p3, .p4, .p5, .p6 {
          opacity: 0;
          stroke-width: 0.8;
          stroke: #4a5b63;
        }

        .ul {
          opacity: 1;
          transform: translate(15px, 34px);
          /*@include transform( translateY(34px) translateX(15px) );*/
        }

        .ur {
          opacity: 1;
          transform: translate(-15px, 35px);
          /*@include transform( translateY(35px) translateX(-15px) );*/
        }

        .bl {
          opacity: 1;
          transform: translate(15px, -35px);
          /*@include transform( translateY(-35px) translateX(15px) );*/
        }

        .br {
          opacity: 1;
          transform: translate(-15px, -34px);
          /*@include transform( translateY(-34px) translateX(-15px) );*/
        }

        .circ {
          /*transform: scale(0, 0);*/
          /*@include transform( scaleX(0) scaleY(0) );*/
        }

    /*.loader {
        position: absolute;
        left: 0;
        bottom: 20%;
        width: 100%;
    }
        .loader svg path {
            fill: none;
            stroke-width: 5;
        }
        .loader svg path.loader-circlebg {
            stroke: #ddd;
        }
        .loader svg path.loader-circle {
            transition: stroke-dashoffset 0.2s;
            stroke: #4a5b63;
        }*/

</style>

<!-- <div id="parallax-window" class="parallax-window"> -->
    <!-- <div id="parallax-content" class="parallax-content"> -->
    <div class="logo-container">
        <div class="logo layer" data-depth="0.1">
            <svg version="1.1" class="logo-sm" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 146 180.4" enable-background="new 0 0 146 180.4" xml:space="preserve">
            <path class="bl" fill="#4a5b63" d="M36.6,144.4v30.1c0,3.3-2.7,6-6,6H0"/>
            <path class="ul" fill="#4a5b63" d="M0.4,72.4V42.4c0-3.3,2.7-6,6-6H37"/>
            <path class="ur" fill="#4a5b63" d="M109.4,36.1V6c0-3.3,2.7-6,6-6H146"/>
            <path class="br" fill="#4a5b63" d="M146,107.9V138c0,3.3-2.7,6-6,6h-30.6"/>
            <!-- inner ul -->
            <path class="p1" fill="none" stroke="#4a5b63" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M37,72.8V45.4 M64,45.4L37,72.8"/>
            <!-- inner br -->
            <path class="p2" fill="none" stroke="#4a5b63" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M109,108.4l0,27.4 M109,108.4l-27,27.4"/>
            <!-- inner bl -->
            <path class="p3" fill="none" stroke="#4a5b63" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M37,108.4l0,27.4 M37,108.4l27,27.4"/>
            <!-- inner ur -->
            <path class="p4" fill="none" stroke="#4a5b63" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M109,72.4V45 M109,72.4L82,45"/>
            <!-- right -->
            <path class="p5" fill="none" stroke="#4a5b63" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M145,99.4v-90"/>
            <!-- left -->
            <path class="p6" fill="none" stroke="#4a5b63" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M1,81.4v90"/>
            <path class="circ" fill="#4a5b63" stroke="#4a5b63" stroke-miterlimit="10" d="M63.8,90.2c0-4.9,4-8.9,8.9-8.9c4.9,0,8.9,4,8.9,8.9s-4,8.9-8.9,8.9C67.8,99.1,63.8,95.1,63.8,90.2z"/>
            </svg>
        </div> <!-- end logo -->
    </div> <!-- end parallax-content -->
<!-- </div> --> <!-- end parallax-window -->