<section class="container" ng-controller="WorkController as workCtrl">

  <div class="page-header">
    <i class="fa fa-briefcase icon-head"></i>
    <h4 class="small-caps">Selected client work &amp; larger projects</h4>
  </div>

  <ul id="grid-container-overlays" class="grid-container">

    <li class="grid-item grid-item-lrg" ng-repeat="item in workCtrl.items">

      <a class="img-collapsed-overlays" href="javascript:void(0)" ng-click="workCtrl.showModal(item)" data-largesrc="{{ item.imgHi }}" data-title="{{ item.title }}" data-description="{{ item.description }}">
        <div class="loading"></div>
        <img class="img-sm" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" rd-defer="{{ item.imgLow }}">
        <span class="lines top"></span>
        <span class="lines bottom"></span>
        <span class="lines left"></span>
        <span class="lines right"></span>
      </a>

    </li>

  </ul>

</section>
