<div class="page-header">
  <i class="fa fa-wrench icon-head"></i>
  <h4 class="small-caps">Including, but not limited to</h4>
</div>

<rd-toolkit-chart>
  <!-- <div class="page-notifications"> -->
    <!-- <p>Tap individual nodes to toggle. Drag nodes for fun.</p> -->
    <!-- <a href="javascript:void(0)" class="explode" id="explode"
       ng-click="skillsCtrl.explode()"
       ng-show="skillsCtrl.isCollapsed"><i class="fa fa-bomb"></i> explode</a> -->
    <!-- <a href="javascript:void(0)" class="collapse"
       ng-click="skillsCtrl.collapse()"
       ng-hide="skillsCtrl.isCollapsed"><i class="fa fa-minus-circle"></i> collapse</a> -->
  <!-- </div> -->
</rd-toolkit-chart>
