<div class="page-header">
  <i class="fa fa-file-text icon-head"></i>
  <h4 class="small-caps">Relevant history</h4>
</div>

<div class="launch-container">
  <a class="launch-btn" href="assets/pdf/RyanDaly_Resume.pdf" name="resumé" alt="resumé" target="_blank">
    <button class="lines-btn lines-btn--download">
    Grab a Copy
    <span class="lines top"></span>
    <span class="lines bottom"></span>
    <span class="lines left"></span>
    <span class="lines right"></span>
  </button>
  </a>
</div>

<div class="resume">

  <section class="resume-section resume-section--full">

    <h1>Experience</h1>

    <article>
      <h2>
        <span class="uppercase">Self Employed / Freelance</span>
        <span class="title">Software Developer</span>
        <span>Denver</span>
        <span>Oct. 2015 &ndash; Present</span>
      </h2>
      <ul>
        <li>Development and consulting work on a multitude of projects including everything from simple brochure sites to large-scale web apps</li>
        <li>Remote contract work bringing expertise to agencies and working with their teams</li>
        <li>Solo work on smaller scale projects</li>
        <li>Process development, software tooling & optimization</li>
        <li>Client relations & business operations</li>
      </ul>
    </article>

    <article>
      <h2>
        <span class="uppercase">Razorfish</span>
        <span class="title">Senior Presentation Layer Developer</span>
        <span>Remote (LA)</span>
        <span>May 2015 &ndash; Oct. 2015</span>
      </h2>
      <ul>
        <li>Lead developer on interactive ad units using HTML5 and Javascript</li>
        <li>Provided expertise and advice to team of project managers, creative leads and designers</li>
        <li>Provided support for jr. devs</li>
        <li>Worked with ad vendors in order to build compliant apps</li>
        <li>Researched and tested new technologies to provide proofs-of-concept to clients</li>
      </ul>
    </article>

    <article>
      <h2>
        <span class="uppercase">Razorfish</span>
        <span class="title">Senior Motion Designer</span>
        <span>Chicago</span>
        <span>Oct. 2008 &ndash; Sept. 2014</span>
      </h2>
      <ul>
        <li>Lead developer and motion designer on many ad campaigns</li>
        <li>Liaison between designers and developers</li>
        <li>Provided expertise and advice to project managers, creative leads and designers</li>
        <li>Designed and developed client-facing 'extranet' to streamline and facilitate client reviews</li>
        <li>Worked with many different ad vendors and utilized their platforms and APIs</li>
        <li>Co-created an internal motion group with the aim of educating others on best practices for interactive apps</li>
        <li>Participated in the interview and hiring processes for new talent</li>
        <li>Developed interactive display applications utilizing touch screens, motion tracking and various web APIs</li>
        <li>Researched and tested new technology for brain-storms and proofs-of-concept</li>
        <li>Attended tech conferences around the country and reported on experiences and trends</li>
      </ul>
    </article>

  </section>

  <section class="resume-section resume-section--half">
    <h1>Education</h1>
    <article>
      <h2>
        <span class="uppercase">Columbia College Chicago</span>
        <span class="title">B.A. Interactive Arts &amp; Media</span>
        <span>2005 &ndash; 2008</span>
      </h2>
    </article>
    <article>
      <h2>
        <span class="uppercase">International TEFL Academy</span>
        <span class="title">Professional Teaching Certification &ndash; English as a Foreign Language</span>
        <span>2011</span>
      </h2>
    </article>
  </section>

  <section class="resume-section resume-section--half">
    <h1>Strengths</h1>
    <article class="inline-list">
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JS</li>
        <li>PHP</li>
        <li>WordPress</li>
        <li>ACF</li>
        <li>GIT</li>
        <li>Vue</li>
        <li>GSAP</li>
        <li>Figma</li>
        <li>Adobe CC</li>
        <li>Applying solid foundations to trendy new tech</li>
      </ul>
    </article>
  </section>

</div>
