<div class="page-header">
  <i class="fa fa-file-text icon-head"></i>
  <h4 class="small-caps">A relevant personal history</h4>
</div>

<div class="resume">

  <section class="resume-section resume-section--full">

    <h1>Experience</h1>

    <article>
      <h2>
        <span class="uppercase">Freelance</span>
        <span class="title">Front-end Developer</span>
        <span>Denver</span>
        <span>Oct. 2015 &ndash; Present</span>
      </h2>
      <ul>
        <li>Development and consulting work on a multitude of projects including everything from simple ad campaigns to large-scale web apps</li>
        <li>short to mid-term contracts bringing my expertise to various companies and working with their teams - primarily in Denver, Chicago and LA</li>
      </ul>
    </article>

    <article>
      <h2>
        <span class="uppercase">Razorfish</span>
        <span class="title">Senior Presentation Layer Developer</span>
        <span>Remote (LA)</span>
        <span>May 2015 &ndash; Oct. 2015</span>
      </h2>
      <ul>
        <li>Lead developer on interactive ad units using HTML5 and Javascript</li>
        <li>Provided expertise and advice to team of project managers, creative leads and designers</li>
        <li>Provided support for jr. devs</li>
        <li>Worked with ad vendors in order to build compliant apps</li>
        <li>Researched and tested new technologies to provide proofs-of-concept to clients</li>
      </ul>
    </article>

    <article>
      <h2>
        <span class="uppercase">Razorfish</span>
        <span class="title">Senior Motion Designer</span>
        <span>Chicago</span>
        <span>Oct. 2008 &ndash; Sept. 2014</span>
      </h2>
      <ul>
        <li>Lead developer and motion designer on many ad campaigns</li>
        <li>Liaison between designers and developers</li>
        <li>Provided expertise and advice to project managers, creative leads and designers</li>
        <li>Designed and developed client-facing 'extranet' to streamline and facilitate client reviews</li>
        <li>Worked with many different ad vendors and utilized their platforms and APIs</li>
        <li>Co-created an internal motion group with the aim of educating others on best practices for interactive apps</li>
        <li>Developed interactive display applications utilizing touch screens, motion tracking and various web APIs</li>
        <li>Researched and tested new technology for brain-storms and proofs-of-concept</li>
        <li>Attended tech conferences around the country and reported on experiences and trends</li>
      </ul>
    </article>

    <article>
      <h2>
        <span class="uppercase">Fogged Clarity</span>
        <span class="title">Co-founder / Designer / Developer</span>
        <span>Aug. 2008 &ndash; Present</span>
      </h2>
      <ul>
        <li>Design, develop and maintain a custom Wordpress-based CMS to publish quarterly issues</li>
        <li>Develop Wordpress UI to aid editorial staff</li>
        <li>Curate visual art for display on the site</li>
        <li>Provide support for our team of editors</li>
        <li>Analytics monitoring, book design, audio &amp; video editing, mailing list management, podcasting, and brand development, you name it</li>
      </ul>
    </article>

  </section>

  <section class="resume-section resume-section--half">
    <h1>Education</h1>
    <article>
      <h2>
        <span class="uppercase">Columbia College Chicago</span>
        <span>2005 &ndash; 2008</span>
      </h2>
      <p><em>B.A. Interactive Arts &amp; Media</em></p>
    </article>
    <article>
      <h2>
        <span class="uppercase">International TEFL Academy</span>
        <span>2011</span>
      </h2>
      <p><em>Professinal Certification</em></p>
    </article>
  </section>

  <section class="resume-section resume-section--half">
    <h1>Specialties</h1>
    <article>
      <h2>
        <span class="uppercase">Dev</span>
      </h2>
      <ul>
        <li>JavaScript</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>PHP</li>
        <li>That 'hot new thing' I just learned!</li>
      </ul>
    </article>
    <article>
      <h2>
        <span class="uppercase">Design</span>
      </h2>
      <ul>
        <li>Adobe CS</li>
        <li>Sketch</li>
      </ul>
    </article>
  </section>

  <div class="launch-container">
    <a class="launch-btn" href="assets/pdf/RyanDaly_Resume.pdf" name="resumé" alt="resumé" target="_blank">
      <button class="lines-btn lines-btn--download">
      Grab a Copy
      <span class="lines top"></span>
      <span class="lines bottom"></span>
      <span class="lines left"></span>
      <span class="lines right"></span>
    </button>
    </a>
  </div>

</div>
